body {
    margin: 0;
    padding: 0;
}

#circle-container {
    position: relative;
    height: 100vh;
}

#container {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.ball {
    position: fixed;
    border-radius: 50%;
}

.ball:hover {
    opacity: 50%;
}

#controls {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* z-index: 1; */
}

.inputs {
    padding: 10px;
}