<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cookies</title>
    </head>
    <body>
        <form action="/" method="post">
            <label for="key">Key: </label>
            <input type="text" name="key" required />
            <label for="value">Value: </label>
            <input type="text" name="value" required />
            <input type="submit" value="submit" />

            <% if(Object.keys(data).length != 0){%>
                <table title="Cookie Data">
                    <tr>
                        <th>key</th>
                        <th>Value</th>
                    </tr>
                    <% for(key in data){%>
                        <tr>
                            <td><%=key%></td>
                                <td><%=data[key]%></td>
                                </tr>
                                <%}%>
                                </table>
                                <%} %>
                                </form>
                            </body>
                        </html>