#header {
    grid-area: header;
    background-color: aqua;
    font-size: xx-large;
    padding: 0.1%;
    text-align: center;
    color: black;
}

#footer {
    grid-area: footer;
    background-color: darkgreen;
    font-size: large;
    padding: 0.1%;
    text-align: center;
    color: azure;
}

#menulist>a {
    padding: 1%;
    border-right: 1px solid black;
    color: azure;
    text-decoration: none;
}

#menulist {
    background-color: darkgreen;
    display: flex;
}

#col1 {
    grid-area: a;
    background-color: bisque;

    padding: 2%;
    padding-bottom: 60%;
}

#col2 {
    grid-area: b;
    background-color: beige;
    padding: 2%;
    padding-bottom: 60%;
}

#col3 {
    grid-area: c;
    background-color: azure;
    padding: 2%;
    padding-bottom: 60%;
}

#columns {
    display: grid;
    grid-template-areas: 'a b b c';

}

@media screen and (max-width: 600px) {
    #columns {
        display: grid;
        grid-template-areas:
            'a a c c'
            'b b b b';

    }


}