h1 {
    color: rgb(230, 230, 124);
    text-decoration: underline;
}

h2 {
    color: rgb(230, 230, 124);
    text-decoration: underline;
    background-color: aliceblue;
}

.bold {
    font-weight: bold;
}

.box {

    border-top: 1px solid black;
    margin-top: 4%;
}

.usercomment {
    margin-top: 2%;
    background-color: yellow;
}

#copyrightnote {
    text-align: end;
}

.footer {

    text-align: end;
}